.advice {
    background-color: var(--bg);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.advice_content {
    width: 60%;
    height: 60%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--typez_green__08);
}

.advice_content>* {

    margin-top: 10px;
}

.advice_content>h1 {
    color: var(--bg);
    font-size: 2.5rem;
    font-weight: bold;
}

.advice_content>button {
    background-color: var(--bg);
    color: var(--typez_green);
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
}

.hidden {
    display: none;
}