:root {
  --typez_green: rgb(37, 151, 105);
  --typez_green__08: rgba(37, 151, 105, 0.8);
  --typez_blue: rgb(0, 255, 255);
  --typez_purple: rgb(159, 23, 197);
  --bg: rgb(33, 33, 33);
}

.App {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.admin {
  color: var(--typez_blue) !important;
  text-shadow: 0 0 6px var(--typez_blue) !important;
}

key {
  background-color: var(--typez_green);
  border-radius: 5px;
  border-radius: 0.1rem;
  color: rgb(39, 39, 39);
  display: inline-block;
  justify-content: center;
  font-size: .7rem;
  text-align: center;
  line-height: .7rem;
  padding: 0.2rem 0.3rem;
}

::selection {
  background-color: var(--typez_purple) !important;
  color: rgb(255, 255, 255) !important;
}

input[type="checkbox"] {
  position: relative;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.086);
  -webkit-appearance: none;
  appearance: none;
  height: 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

input[type="checkbox"]::before {
  content: "";
  width: 50%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--typez_purple);
  position: absolute;
  right: 50%;
  margin-top: 0.1px;
  transition: all 0.2s ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
}

input[type="checkbox"]:checked::before {
  content: "";
  width: 50%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--typez_green);
  position: absolute;
  right: 0;
  margin-top: 0.1px;
  transition: all 0.2s ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 70%;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.086);
  border-radius: 20px;
  cursor: ew-resize;
  transition: all 0.2s ease-in-out;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--typez_purple);
  cursor: ew-resize;
  transition: all 0.2s ease-in-out;
}