.login {
    width: 100vw;
    height: 100vh;
    background-color: var(--bg);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginContent {
    min-width: 30%;
    min-height: 30%;
    border-radius: 8px;
    background-color: var(--typez_green);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
    position: relative;
}

.loginContent>p {
    font-size: 1rem;
    color: var(--bg);
    margin: 0;
    padding: 0;
    opacity: 0.5;
}

.oAuth {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    position: relative
}

.oAuth>a {
    color: var(--bg);
    text-decoration: none;
    cursor: pointer;
    padding: 5px;
}



.oAuth>a>svg {
    width: 1.7rem;
    height: 1.7rem;
}

.error {
    color: rgb(125, 0, 0);
    font-size: 0.9rem;
    margin: 0;
    padding: 0;
    position: absolute;
    opacity: 0.8;
    bottom: 35%;
}

@media screen and (max-width: 1024px) {
    .loginContent {
        flex-direction: column;
        padding: 20px;
    }
}