.modalTerminal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    background-color: rgba(20, 20, 20, 0.732);
    z-index: 9999999999999;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    backdrop-filter: blur(2.1px);
    -webkit-backdrop-filter: blur(2.1px);
    transition: 0.3s ease;
}

.modalTerminal[data-show='true'] {
    opacity: 1;
}

.modalTerminal[data-show='false'] {
    opacity: 0;
}

.modalTerminal[data-hidden='true'] {
    display: none;
}

.modalTerminal[data-hidden='false'] {
    display: flex;
}

.modalTerminal[data-show='true']>.modalTerminal__screen {
    margin-top: 0;
}

.modalTerminal[data-show='false']>.modalTerminal__screen {
    margin-top: 100px;
}

.modalTerminal__screen {
    width: 450px;
    height: 450px;
    border-radius: 15px;
    background-color: rgb(151, 151, 140);
    padding: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border: 4px solid rgba(122, 122, 118, 0.419);
    transition: 0.3s;
}

.modalTerminal__screen::before {
    content: '';
    position: absolute;
    top: 0;
    left: -4px;
    width: 101.5%;
    height: 96%;
    border-radius: 20px;
    margin-top: 32px;
    background-color: rgb(83, 83, 76);
    z-index: -1;
}

.modalTerminal__screen::after {
    content: '·';
    position: absolute;
    bottom: -10px;
    left: 30px;
    font-weight: bolder;
    font-size: 45px;
    opacity: 0.5;
    animation: screenOnOffLight 4s infinite alternate;
}

.modalTerminal__commands {
    width: 95%;
    height: 90%;
    margin-top: 7px;
    border-radius: 15px;
    background-color: var(--bg);
    border: 4px solid var(--secondary_bg_color);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

@media (max-width: 550px) {
    .modalTerminal__screen {
        width: 350px;
        height: 350px;
    }

}


@keyframes screenOnOffLight {
    0% {
        color: var(--typez_purple);
    }

    20% {
        color: var(--secondary_bg_color);
    }

    50% {
        color: var(--typez_purple);
    }

    70% {
        color: var(--secondary_bg_color);
    }

    100% {
        color: var(--typez_purple);
    }

}