.container {
    width: 100%;
    max-width: 93%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: var(--bg);
}

.lines>span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.lines>span>p {
    display: block;
    color: var(--typez_green);
    white-space: nowrap;
    margin: 0;
    line-height: 1em;
    text-align: center;
    font-family: Sub-Zero;

}

.lines>p {
    display: block;
    color: var(--typez_green);
    white-space: nowrap;
    margin: 0 0 0 20px;
    letter-spacing: 0.05em;
    line-height: 1.3em;
    text-align: initial;
}

.lines>p>a {
    cursor: pointer !important;
    color: var(--typez_purple);
    text-shadow: 0 0 12px rgb(203, 68, 252);

}

.lines>span {
    width: 100%;
}

.lines>span>p>a {
    cursor: pointer !important;
    color: var(--typez_purple);
    text-shadow: 0 0 12px rgb(203, 68, 252);
}

.lines {
    margin-top: 2em;
    width: 95%;
    align-self: center;
    max-height: 80%;
    overflow: hidden;
    cursor: default;
}

.hidden_input {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.terminal_focus {
}

.click_to_focus {
    cursor: pointer;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(33, 33, 33, 0.289);
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10.1px);
    -webkit-backdrop-filter: blur(12.1px);
    overflow: hidden;
}

.hidden {
    display: none;
}

.modalTerminal__terminal {
    position: relative !important;
    max-width: 100%;
    animation: boxShadowScreenEffect 3.5s infinite alternate;
}

.modalTerminal__lines {
    font-size: 75% !important;
}

@keyframes boxShadowScreenEffect {
    0% {
        box-shadow: inset 0 0 30px rgba(27, 63, 30, 0.542);

    }

    50% {
        box-shadow: inset 0 0 30px rgba(31, 77, 35, 0.342);
    }

    100% {
        box-shadow: inset 0 0 30px rgba(41, 71, 44, 0.742);
    }
}