.game {
    min-width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 4;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(58, 58, 58, 0.501);
    user-select: none;
}

.testContainer {
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.words_container {
    width: 100%;
    padding: 2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.last_words {
    position: absolute;
    width: 100%;
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 2;
    opacity: 0.2;
    margin-top: -15vh;
    transform: scale(0.9);
    transition: all 0.3s ease-in-out;
}

.next_words {
    position: absolute;
    width: 100%;
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 2;
    opacity: 0.8;
    margin-top: 15vh;
    transform: scale(0.8);
    transition: all 0.5s ease-in-out;
}

.word_container {
    margin-left: 10px;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    width: min-content
}

.letter {
    color: var(--typez_green)
}

.letterSuccess {
    color: rgba(127, 255, 165, 0.788);
    text-shadow: 0 0 10px rgba(127, 255, 165, 0.416);
}

.letterMissed {
    color: rgba(251, 255, 127, 0.788);
}

.letterMistake {
    color: rgba(255, 127, 127, 0.788);
}

.currentWord {
    color: rgba(127, 255, 165, 0.416);
}

.cursor {
    position: absolute;
    height: 5px;
    margin-left: 5px;
    color: rgb(153, 54, 193);
    background-color: rgb(153, 54, 193);
    border-radius: 10px;
    animation: blink 1s infinite;
    box-shadow: 0 0 5px rgb(153, 54, 193);
    z-index: 20;
    transition: all 0.5s ease-in-out;
}

.stats_container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999999;
    backdrop-filter: blur(2.1px);
    -webkit-backdrop-filter: blur(2.1px);
}

.stats_container[data-show='true'] {
    display: flex;
}

.stats_container[data-show='false'] {
    display: none;
}

.stats {
    width: 450px;
    height: 450px;
    border-radius: 15px;
    background-color: rgb(151, 151, 140);
    padding: 10px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border: 4px solid rgba(122, 122, 118, 0.419);
    transition: 0.3s;
}

.hidden_input {
    opacity: 0;
    position: absolute;
    bottom: 0vh;
}

.stats>ul {
    width: 95%;
    height: 90%;
    margin-top: 7px;
    border-radius: 15px;
    background-color: var(--bg);
    border: 4px solid var(--secondary_bg_color);
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;

}

.stats>ul>li {
    flex: 45%;
    height: 45%;
    background-color: var(--typez_green__08);
    margin: 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 30px;
    font-weight: bolder;
    color: var(--bg);
}

.stats>ul>li::after {
    content: attr(data-content);
    position: absolute;
    top: 50%;
}

.stats>ul>li>span {
    font-size: 22px;
    position: absolute;
    top: 35%;

}

.stats_toolbar {
    position: absolute;
    bottom: 8px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    width: 90%;
}

.stats_toolbar>* {
    color: var(--bg);
    opacity: 0.8;
    cursor: pointer;
    margin-right: 10px;
    transition: all 0.2s;
}

.stats_toolbar>*:hover {
    transform: scale(1.1);
}

.test_toolbar {
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -57%);
    z-index: 4;
    display: flex;
    flex-direction: row;
    padding: 0 10px;
    justify-content: space-between;
    align-items: center;
    opacity: 0.3;
}

.test_toolbar>* {
    color: var(--typez_green);
    cursor: pointer;
    padding: 0 5px;
    margin-left: 5px;
    margin-right: 5px;
    font-weight: bolder;

}


.stats::before {
    content: '';
    position: absolute;
    top: 0;
    left: -4px;
    width: 101.5%;
    height: 96%;
    border-radius: 20px;
    margin-top: 32px;
    background-color: rgb(83, 83, 76);
    z-index: -1;
}

.stats>ul::after {
    content: '·';
    position: absolute;
    bottom: -10px;
    left: 30px;
    font-weight: bolder;
    font-size: 45px;
    opacity: 0.5;
    animation: screenOnOffLight 4s infinite alternate;
}


.terminal_test {
    background-color: rgb(33, 33, 33);
    width: 100%;
    height: 100vh;
    transition: all 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    z-index: 2;
}

.not_focus_advice {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: var(--typez_green__08);
    z-index: 1;
    cursor: pointer;
}


.terminal_test:focus {
    background-color: rgb(33, 33, 33);
    width: 100%;
    height: 100vh;
    transition: all 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
}

.countdown {
    position: absolute;
    top: 45%;
    left: 50%;
    color: rgba(192, 192, 192, 0.125);
    font-size: 20px;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
}

.shake {
    animation: shake 0.1s infinite;
}

.time_duration_selector {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -60%);
}

.time_duration_selector>ul {
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    background-color: var(--secondary_bg_color);
    justify-content: center;
    align-items: center;
    padding: 10px 3.5px;
    border-radius: 10px;
}

.time_duration_selector>ul>li {
    padding: 10px 25px;
    margin: 0 5px;
    background-color: var(--typez_green);
    border-radius: 10px;
    color: var(--bg);
    opacity: 0.8;
    transition: 0.3s;
    cursor: pointer;
}

.time_duration_selector>ul>li:hover {
    transform: scale(1.1);
}

.time_selected {
    opacity: 1 !important;
    transform: scale(1.05)
}


@keyframes shake {
    0% {
        transform: scale(1.05) translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: scale(1.05) translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: scale(1.05) translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: scale(1.05) translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: scale(1.05) translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: scale(1.05) translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: scale(1.05) translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: scale(1.05) translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: scale(1.05) translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: scale(1.05) translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: scale(1.05) translate(1px, -2px) rotate(-1deg);
    }
}

@keyframes screenOnOffLight {
    0% {
        color: var(--typez_purple);
    }

    20% {
        color: var(--secondary_bg_color);
    }

    50% {
        color: var(--typez_purple);
    }

    70% {
        color: var(--secondary_bg_color);
    }

    100% {
        color: var(--typez_purple);
    }

}