.container {
    height: 100vh;
    width: 0%;
    top: 0;
    right: 0%;
    z-index: 6;
    background-color: var(--typez_green);
    box-shadow: 0px 0px 5px rgba(30, 138, 89, 0.115);
    backdrop-filter: blur(10.1px);
    -webkit-backdrop-filter: blur(12.1px);
    color: var(--typez_green);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: all 0.2s ease-in-out;
    overflow: hidden;


}

.opener {
    position: absolute;
    top: 50%;
    right: 93%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    transform: scale(1.2);
    z-index: 9999;
    background-color: var(--typez_green);
}

.opener>svg {
    transition: all 0.2s ease-in-out;
    fill: var(--bg);
}

.open {
    width: 20% !important;
}

.open .content {
    animation: fadeIN 0.5s ease-in-out;
    animation-fill-mode: forwards;
}

.opener:hover.opener>svg {
    transform: rotate(90deg);
}

.content {
    width: 80%;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(-100vh);
    transition: all 0.1s ease-in-out;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
    width: 100%;
    margin-top: 15px;
    border-radius: 8px;
    min-height: 100px;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    background-color: var(--bg);
    position: relative;
    box-shadow: 0px 3px 5px rgba(58, 58, 58, 0.297);
}

.label {
    width: 40px;
    height: 22px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: var(--typez_purple);
    background-color: var(--typez_green);
    position: absolute;
    top: -8%;
    z-index: 2;
}

.kb {
    height: 28px;
}

.label>svg {
    position: absolute;
    height: 90%;
    width: 90%;
}

.item_content {
    width: 90%;
}

.subitem {
    margin-top: 10px;
    width: 100%;
    background-color: rgba(80, 79, 79, 0.177);
    display: flex;
    padding: 10px 0px;
    justify-content: center;
    border-radius: 8px;
    align-items: center;
    position: relative;

}

.subitem__label {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: -7%;
    background-color: var(--bg);
    border-radius: 50%;
    padding: 3px;
    transform: translateY(-50%);
    top: 50%;
    color: var(--typez_green);

}

.placeSelector {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.placeSelector>ul {
    width: 100%;
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    padding: 10px;

}

.placeSelector>ul>li {
    flex: 25%;
    background-color: var(--bg);
    padding: 10px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--typez_purple);
    border-radius: 10px;
    cursor: pointer;
    z-index: 8888;
}

.placeSelector>ul>li>svg {
    pointer-events: none;
}

.LeftUP>svg {
    transform: rotate(-90deg);
}

.RightUP>svg {
    transform: rotate(0deg);
}

.LeftBottom>svg {
    transform: rotate(180deg);
}

.RightBottom>svg {
    transform: rotate(90deg);
}

@keyframes fadeIN {
    0% {
        transform: translateY(-100vh);
    }

    100% {
        transform: translateY(0);
    }

}

@keyframes fadeOUT {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-100vh);
    }


}